<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
          integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
          crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

    <div class="wrapper">

      <section>
        <div id="title">
          <a href=/ title="Emissions API :: Home">
            <img src="{{ '/assets/img/emissions-api-8.svg' | relative_url }}"/>
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
          </a>
          <hr>

          <div class=alpha>
            The API is still in its early stages.
            Please expect it to change at any time without prior notice.
            Follow the development on <a href=https://github.com/emissions-api/emissions-api>
              Github</a> for details.
          </div>

          {% if page.name == "index.md" %}
          <a class=button
             href=https://demo.emissions-api.org>
             <i class="fas fa-globe-africa"></i>
             API <span>alpha</span></a>
          <a class=button
             href="{{ site.github.owner_url }}">
             <i class="fab fa-github"></i>
             GitHub</a>
          <a class=button
             href=examples.html>
             <i class="fas fa-book"></i>
             Examples</a>
          {% endif %}
        </div>

        {{ content }}

      </section>

    </div>


    <footer>
      <div class=social>
        <a href=https://twitter.com/emissions_api
           title=Twitter
           class="fab fa-twitter"></a>
        <a href=https://github.com/emissions-api
           title=GitHub
           class="fab fa-github"></a>
        <a href=https://mastodon.social/@emissions_api
           title=Mastodon
           class="fab fa-mastodon"></a>
      </div>

      <a href=https://prototypefund.de/en
         title="A Prototypefund Project">
         <img src="{{ '/assets/img/PrototypeFund-P-Logo.svg' | relative_url }}"
              alt="Logo of the Prototypefund"/>
      </a>
      <a href=https://okfn.de/en
         title="Open Knowledge Foundation Deutschland e.V.">
         <img src="{{ '/assets/img/okfn.svg' | relative_url }}"
              alr="Logo of the Open Knowledge Foundation Deutschland e.V."/>
      </a>
      <a href=https://bmbf.de/en
         title="Sponsored by the German Federal Ministry of Education and Research">
         <img src="{{ '/assets/img/BMBF_gefoerdert_2017_en.svg' | relative_url }}"
              alt="Sponsored by the German Federal Ministry of Education and Research"/>
      </a>

      <div class=credits>
        Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        &mdash;
        Hosted on GitHub Pages
        &mdash;
        Theme by <a href="https://twitter.com/mattgraham">mattgraham</a>
      </div>
    </footer>
  </body>
</html>
